.feedback-form {
  max-width: 408px;
  margin: 50px auto 0;
  padding: 24px;
}

.feedback-form label {
  display: block;
  margin-bottom: 8px;
}

.feedback-form input {
  height: 40px;
}

.feedback-form textarea {
  height: 80px;
  resize: none;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #858484;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.feedback-form input:hover,
.feedback-form textarea:hover,
.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #000000;
}

.feedback-form button[type='submit'] {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
  transition: background-color 0.3s;
}

.feedback-form button[type='submit']:hover {
  background-color: var(--secondary-color);
}
